@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}

.container {
    margin-top: 3rem;
    padding-top: 3rem;
    text-align: center;
}

.container .problem {
    font-size: 2rem;
    font-weight: bold;
}

.boxes {
    display: flex;
    width: 100%;
}

.box {
    height: 3rem;
    border-right: 1px #333 solid;
    flex: 1;
}

.our-form {
    font-size: 1.2rem;
}

.our-form input {
    padding: .2rem;
}

.our-form span {
    font-weight: bold;
}

.progress {
    border: 1px #333 solid;
    border-right: none;
    position: relative;
}

.progress-inner {
    position: absolute;
    width: 100%;
    background: #39ff14;
    top: 0;
    bottom: 0;
    opacity: .5;
    transform: scaleX(0);
    transform-origin: center left;
    transition: transform .5s ease-out;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transform: scale(1.2);
    transition: all .5s ease-out;
}

.overlay-is-open .overlay {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.overlay-is-open .container {
    filter: blur(4px);
}

.animate-wrong {
    transition: all .3s ease-in-out;
    color: red;
    transform: scale(1.2);
}